# Day 3: Review of Python basics part 3

special notes:
1. For dictionaries, you can either have '' or "" for key.
2. in is used as a iterator. a in b means everything in b will be stored into a one by one to execute the next code lines.

## New Python Datatype: Dictionaries

Used when two data are matched without index. Dictionaries consists of key:value pair.
JSON file or BSON file (which is used in mongoDB: NoSQL database program) have a very similar format.
JSON ex) world = {"afghanistan":30.55, "albania": 2.77}
world["afghanistan"] = 30.55


In python, there are mutable objects, which means the value can be changed like list, dictionary, set, byte array, whereas immutable objects cannot be changed like int, float, complext, string, tuple, frozen sets, and bytes.

Tuple is like a list in that it can store multiple value, but it is immutable, so you can't change. It is written as () whereas list is mutable with append() or del() and written with [].

Note: value can be also key:value pair or list
ex) {'key':{'subkey':subvalue}}

In [11]:
world = {'Korea': 1, 'Japan': 2, 'China':3, 'China':1}
#these keys in the dictionary are immutable objects. 
#Contents of immutable objects can be changed after creation, giving the china:1 as resulting dictionary
print(world)

{'Korea': 1, 'Japan': 2, 'China': 1}

In [12]:
#world = {np.array('Korea', True):3} does not work
#does this mean dictionaries cannot take mutable object as key?
#adding new key value pair
world['Taiwan'] = 4
print(world)

{'Korea': 1, 'Japan': 2, 'China': 1, 'Taiwan': 4}

In [13]:
#to check if key 'Taiwan exists'
'Taiwan' in world

True

In [14]:
#editing value
world['China']=3
print(world)

{'Korea': 1, 'Japan': 2, 'China': 3, 'Taiwan': 4}

In [15]:
#deleting key value pair
del(world['Taiwan'])
print(world)

{'Korea': 1, 'Japan': 2, 'China': 3}

## Tabular dataset
basically relational data set with tables. rows are called observations and columns are called variables.

To create one, we could use 2d numpy array, but they can host variables with same data types.

To efficiently manage dataset with different data types, we use Pandas, which was built on numpy package. => dataframes are created

In [17]:
#To manually create a dataframe, start with dictionaries
dict = {'country':['Korea', 'Japan', 'China', 'Taiwan'],
        'capital':['Seoul', 'Tokyo', 'Shanghai', 'Taipei'],
        'area':[1, 2, 3, 4],
        'population':[10, 20, 60, 20]}
#keys are column labels, values are data,column by column
import pandas as pd
#pandas are loaded for creating dataframe or loading dataframe
brics = pd.DataFrame(dict)
print(brics)

  country   capital  area  population
0   Korea     Seoul     1          10
1   Japan     Tokyo     2          20
2   China  Shanghai     3          60
3  Taiwan    Taipei     4          20

In [19]:
brics.index = ['KR', 'JPN', 'CHN', 'TP']
print(brics)
#But when you load datafile, which is mostly the case, you write
#df = pd.read_csv("path/to/brics.csv")
#if the first column contains row index, you write
#df = pd.read_csv("path/to/brics.csv", index_col = 0)

    country   capital  area  population
KR    Korea     Seoul     1          10
JPN   Japan     Tokyo     2          20
CHN   China  Shanghai     3          60
TP   Taiwan    Taipei     4          20

In [21]:
#column access
brics['country']
#we're dealing with pandas series since series is like 1d array. pasting bunch of series creates dataframe.
type(brics['country'])
#selecting country column but keep the data in dataframe
brics[['country','capital']]
#type(brics[['country']]) is pandas dataframe

    country   capital
KR    Korea     Seoul
JPN   Japan     Tokyo
CHN   China  Shanghai
TP   Taiwan    Taipei

In pandas, iloc is used for integer position based and loc is label based system to make row, column access. data.loc/iloc[[row],[column]]

In [23]:
#row access
brics[0:2]
brics.loc['KR'] #series selecting row
brics.loc[:,'country'] #series selecting column
brics.loc[['KR', 'CHN'], ['country', 'capital']] #dataframe
brics.loc[:, ['country', 'capital']]

    country   capital
KR    Korea     Seoul
JPN   Japan     Tokyo
CHN   China  Shanghai
TP   Taiwan    Taipei

In [25]:
#using iloc
#brics.iloc[0]
brics.iloc[[0,2],:]
#brics.iloc[[0,1], [0,1]]

    country   capital  area  population
KR    Korea     Seoul     1          10
CHN   China  Shanghai     3          60

## Logics

comparison can be made between same or similar data type. Strings compared on alphabetical order. carl comes before chris. So carl would be having smaller value. Boolean and number works. True is 1, False is 0. using numpy, we can do elemental comparison.

Numerical operators include: ==, !=, <, <=, >, >=
Boolean operators include: and, or, not

### Numpy array boolean operator
simply using and, or, not does not work. So we have to use np.logical_and(), np.logical_or(), np.logical_not() from numpy library.

In [27]:
#carl vs chris
print("carl" < "chris") #prints true

True

In [29]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house > 18.5, my_house < 10))

[False  True False  True]

In [30]:
# Both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11, your_house < 11))

[False False False  True]

## Conditional Statement
This where the fun begins. if, elif, else could be used to create a complicated conditional statement. Whenever a condition is true, next line will not execute even if the next line is true as well. Here is the example:

In [35]:
# Define variables
room = "bed"
area = 14.0

# if-elif-else construct for room. First two condition weren't right so it passed on to the else.
if room == "kit" :
    print("looking around in the kitchen.")
elif room == "bed":
    print("looking around in the bedroom.")
else :
    print("looking around elsewhere.")

looking around in the bedroom.

In [36]:
# if-elif-else construct for area
# see how second elif was true but didn't print because the conditional statement didn't even get there
if area > 15 :
    print("big place!")
elif area > 10 :
    print("medium size, nice!")
elif area > 11 :
    print("this statement is true as well but won't print")
else :
    print("pretty small.")

medium size, nice!

# While loop
unlike conditional statement, the code will be run over and over again as long as the condition is true.

In [38]:
# Initialize offset
offset = 8

# Code the while loop
while offset != 0 : 
    print("correcting...")
    offset = offset - 1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

In [39]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
      offset = offset-1
    else : 
      offset = offset +1    
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

In [41]:
# enumerate counts index, and area
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index, area in enumerate(areas) :
    print("room " + str(index) +":" + str(area))

room 0:11.25
room 1:18.0
room 2:20.0
room 3:10.75
room 4:9.5

In [42]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for x in house : 
    print("the " + str(x[0]) + " is " + str(x[1]) + " sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

### For loop on dictionaries
for k, v in world.item():
      print(k + "--" + str(v))
first variable is key and second variable is value. But the order which it organizes is arbitrary (random)

### For loop on Numpy Array
for n in np.nditer(meas) : 
      print(n)

you have to use np.nditer to get each elements in 2d array. without it, it will generate each array and that's it. numpy is treated like a list.

Dictionaries require methods, and numpy arrays requires function

In [43]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for x, y in europe.items():                #items() method takes no parameter, displays list of of dictionary's key value tuple pairs
    print("the capital of " + x + " is " + y)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [45]:
# Import numpy as np
import numpy as np
np_height = np.array([1,2,3,4,5,6,7])
np_baseball = np.array([np_height,[10,20,30,40,50,60,70]])

In [46]:
# For loop over np_height
for x in np_height :
    print(str(x) + " inches")

1 inches
2 inches
3 inches
4 inches
5 inches
6 inches
7 inches

In [47]:
# For loop over np_baseball
for x in np.nditer(np_baseball):
    print(x)

1
2
3
4
5
6
7
10
20
30
40
50
60
70

## Pandas
Iterating over a Pandas DataFrame is typically done with the iterrows() method. Used in a for loop, every observation is iterated over and on every iteration the row label and actual row contents are available:

for lab, row in brics.iterrows() :
    ...

In [51]:
import pandas as pd
dict = {'country':['Korea', 'Japan', 'China', 'Taiwan'],
        'capital':['Seoul', 'Tokyo', 'Shanghai', 'Taipei'],
        'area':[1, 2, 3, 4],
        'population':[10, 20, 60, 20]}
brics = pd.DataFrame(dict)

for label, row in brics.iterrows() :
  brics.loc[label, "name_length"] = len(row["country"])
  print(brics)
  
# much simpler way to do it is using apply function for len(): without using for loop
brics["name_length"] = brics["country"].apply(len)

  country   capital  area  population  name_length
0   Korea     Seoul     1          10          5.0
1   Japan     Tokyo     2          20          NaN
2   China  Shanghai     3          60          NaN
3  Taiwan    Taipei     4          20          NaN
  country   capital  area  population  name_length
0   Korea     Seoul     1          10          5.0
1   Japan     Tokyo     2          20          5.0
2   China  Shanghai     3          60          NaN
3  Taiwan    Taipei     4          20          NaN
  country   capital  area  population  name_length
0   Korea     Seoul     1          10          5.0
1   Japan     Tokyo     2          20          5.0
2   China  Shanghai     3          60          5.0
3  Taiwan    Taipei     4          20          NaN
  country   capital  area  population  name_length
0   Korea     Seoul     1          10          5.0
1   Japan     Tokyo     2          20          5.0
2   China  Shanghai     3          60          5.0
3  Taiwan    Taipei     4          20          6.0

In [52]:
for label, row in brics.iterrows() : 
  print(label)
  print(row)

0
country        Korea
capital        Seoul
area               1
population        10
name_length        5
Name: 0, dtype: object
1
country        Japan
capital        Tokyo
area               2
population        20
name_length        5
Name: 1, dtype: object
2
country           China
capital        Shanghai
area                  3
population           60
name_length           5
Name: 2, dtype: object
3
country        Taiwan
capital        Taipei
area                4
population         20
name_length         6
Name: 3, dtype: object